body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: relative;
    height: 50px;
    background: rebeccapurple;
    color: whitesmoke;
    text-align: left;
}

header h1 {
    margin: 0;
    padding: 0 15px;
    line-height: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: rebeccapurple;
    color: whitesmoke;
}

footer .contact {
    padding: 0 15px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

footer .contact em, a {
    display: inline-block;
    color: whitesmoke;
    line-height: 25px;
}

main {
    padding: 15px;
}

main #qrInput {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid grey;
    font-size: 20px;
}

main #successMessage {
    color: white;
    padding: 5px;
    background: darkgreen;
    visibility: hidden;
    display: none;
}

main #successMessage.active {
    visibility: visible;
    display: block;
}

main #failureMessage {
    color: white;
    padding: 5px;
    background: darkred;
    visibility: hidden;
    display: none;
}

main #failureMessage.active {
    visibility: visible;
    display: block;
}

main #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: darkgrey;
    opacity: 0.6;
    z-index: 1;
    visibility: hidden;
    display: none;
}

main #backdrop.active {
    visibility: visible;
    display: block;
}

main #spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    visibility: hidden;
    display: none;
}

main #spinner.active {
    visibility: visible;
    display: block;
}

main #spinner em {
    display: block;
}

main #spinner img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }